@model PROG455_FinalProject_ExerciseTracker.Models.IExerciseDataForm

@{
    var datatype = ViewData["DataType"] as string;
    var date = TempData["SessionDate"];
    var data = TempData["SessionData"];
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>IExerciseDataForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" value="@date" type="datetime" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            @switch (datatype)
            {
                case "Reps":
                    var tup = (Tuple<int, int>)data!;
                    <div class="form-group">
                        <label class="control-label">Sets</label>
                        <input class="form-control" value="@tup.Item1" name="Sets" type="number" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Reps</label>
                        <input class="form-control" value="@tup.Item2" name="Reps" type="number" />
                    </div>
                    break;
                case "Timed":
                    var tspan = (TimeSpan)data!;
                    <div class="form-group">
                        <label class="control-label">Time</label>
                        <input class="form-control" value="@tspan" name="Time" type="time" />
                    </div>
                    break;
                default:
                    <div class="form-group">
                        <label class="control-label">Value</label>
                        <input class="form-control" value="@data" name="Value" type="text" />
                    </div>
                    break;
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
