@using Newtonsoft.Json.Linq;
@model IEnumerable<PROG455_FinalProject_ExerciseTracker.Models.Exercise>

@{
    ViewData["Title"] = "Index";
}

<style>
    html {
        background-image: url('@Url.Content("~/Images/exercise_background.png")');
        background-size: cover;
        background-repeat: no-repeat;
    }

    body {
        background-color: rgba(255, 255, 255, 0.001);
    }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var item_token = JToken.FromObject(item).ToString();
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { token = item_token }) |
                @Html.ActionLink("View Data", "Details", new { id= item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { token = item_token })
            </td>
        </tr>
}
    </tbody>
</table>
